@import "~/styles/settings.scss";
@import "~/styles/utils.scss";
@import "~/styles/mixin.scss";

.container {
  width: $sub-box-width;
  margin-top: 80px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.25px;
  color: $black;
}

.items {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 0.75px;
  text-align: center;
  color: $grey;
  padding: 4px 10px;
  border-radius: 12px;
  background-color: $white;
}