@import "~/styles/settings.scss";
@import "~/styles/utils.scss";

.container {
  position: relative;
  img {
    width: 100%;
    height: calc(100vh - 100px);
    object-fit: cover;

    @include screenMd {
      height: convertWithToVw(250);
    }
  }
}

.item {
  position: relative;
  display: block;

  .title {
    position: absolute;
    bottom: 70px;
    width: 100vw;
    padding: 0 100px;
    color: $white;
    font-size: 40px;
    line-height: 1.4;
    font-weight: bold;

    @include screenMd {
      bottom: convertWithToVw(30);
      padding: 0 convertWithToVw(16);
      font-size: convertWithToVw(16);
    }
  }

  .infos {
    position: absolute;
    bottom: 25px;
    right: 100px;
    color: $white;
    font-size: 18px;

    @include screenMd {
      bottom: convertWithToVw(10);
      right: convertWithToVw(16);
      font-size: convertWithToVw(12);
    }

    .time {
      display: flex;
      align-items: center;

      img {
        width: 16px;
        height: 16px;
        margin-right: 10px;

        @include screenMd {
          width: convertWithToVw(10);
          height: convertWithToVw(10);
        }
      }
    }
  }
}
