@import "~/styles/settings.scss";
@import "~/styles/utils.scss";

.container {
  margin-top: 80px;
}

a.top {
  display: block;
  text-align: center;
  border-radius: 4px;
  box-shadow: 5px 10px 10px 0 $shadow;
  background-color: $red;
  color: $white;
  font-size: 18px;
  line-height: 45px;
  font-weight: bold;
}

a.posts {
  margin-top: 20px;
  display: block;
  text-align: center;
  border-radius: 4px;
  box-shadow: 5px 10px 10px 0 $shadow;
  background-color: $black;
  color: $white;
  font-size: 18px;
  line-height: 45px;
  font-weight: bold;
}
