@import "~/styles/settings.scss";
@import "~/styles/utils.scss";

.container {
  width: $sub-box-width;
  box-shadow: 5px 10px 10px 0 $shadow;
  background-color: $white;
  padding: 15px;

  @include screenMd {
    width: unset;
    padding: convertWithToVw(30) convertWithToVw(16);
    background-color: $bg-color;
    box-shadow: unset;
    margin: 0 convertWithToVw(-16);
  }
}

.title {
  text-align: center;
  font-size: 26px;
  color: $black;
  font-weight: bold;

  @include screenMd {
    font-size: convertWithToVw(20);
  }
}

.content {
  margin-top: 30px;

  @include screenMd {
    margin-top: convertWithToVw(20);
  }
}

.item {
  display: flex;

  &:nth-child(n + 2) {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 2px solid #e4e4e4;

    @include screenMd {
      margin-top: convertWithToVw(12);
      padding-top: convertWithToVw(12);
    }
  }

  &:nth-child(n + 4) {
    .number {
      background-color: $grey;
    }
  }

  .number {
    min-width: 35px;
    width: 35px;
    line-height: 89px;
    background-color: $red;
    color: $white;
    font-size: 30px;
    text-align: center;

    @include screenMd {
      min-width: convertWithToVw(35);
      width: convertWithToVw(35);
      font-size: convertWithToVw(25);
    }
  }

  .image {
    margin: 0 10px;
    object-fit: cover;

    @include screenMd {
      margin: 0 convertWithToVw(5);
    }
  }

  .block {
    display: flex;
    flex-direction: column;
  }

  &_title {
    font-size: 14px;
    color: $black;
    margin-bottom: 5px;

    @include screenMd {
      font-size: convertWithToVw(14);
      margin-bottom: convertWithToVw(5);
    }
  }
}
