@import "~/styles/settings.scss";
@import "~/styles/utils.scss";

.main {
  background-color: $white;

  @include screenMd {
    background-color: $black;
  }
}

.inner {
  width: $content-max-width;
  margin: 0 auto;
  padding: 67px 0;
  display: flex;

  @include screenMd {
    display: block;
    width: 100%;
    padding: convertWithToVw(50) 0;
  }
}

.image {
  width: 229px;
  height: 216px;

  @include screenMd {
    display: block;
    margin: 0 auto;
    width: convertWithToVw(96);
    height: convertWithToVw(90);
  }
}

.links {
  margin-left: 100px;

  @include screenMd {
    margin: convertWithToVw(30) 0 0;
  }

  .link {
    display: block;
    font-size: 18px;
    color: $black;

    @include screenMd {
      text-align: center;
      font-size: convertWithToVw(16);
      color: $white;
    }

    &:nth-child(n + 2) {
      margin-top: 20px;

      @include screenMd {
        margin-top: convertWithToVw(10);
      }
    }
  }
}

.bottom {
  background-color: #0f0f0f;
  padding: 15px 0;

  @include screenMd {
    padding: convertWithToVw(10) 0;
  }
}

.copyright {
  width: $content-max-width;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.3px;
  font-size: 14px;
  color: $white;

  @include screenMd {
    width: 100%;
    font-size: convertWithToVw(12);
  }
}
