@import "~/styles/settings.scss";
@import "~/styles/utils.scss";

@mixin title_style() {
  text-align: left;

  .text {
    position: inline-block;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    color: $red;
    position: relative;

    @include screenMd {
      font-size: convertWithToVw(24);
      color: $black;
      padding-bottom: convertWithToVw(5);
      border-bottom: 2px solid $red;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% + 10px);
      width: calc($main-box-width - 100% - 10px);
      height: 5px;
      background-color: #e4e4e4;

      @include screenMd {
        display: none;
      }
    }
  }
}
