// color
$bg-color: #f7f7f7;
$white: #ffffff;
$red: #f70d0d;
$pink: #fed5d5;
$black: #0f0f0f;
$grey: #9d9d9d;
$shadow: rgba(0, 0, 0, 0.16);

// breakpoint sizes
$screenSm: 640px;
$screenMd: 768px;
$screenLg: 1024px;

$main-box-width: 600px;
$sub-box-width: 350px;
$content-max-width: 1000px;
$content-min-height: 500px;
