@import "~/styles/settings.scss";
@import "~/styles/utils.scss";

.slick-arrow {
  width: 50px;
  height: 98px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: unset;
  cursor: pointer;
  font-size: 0;

  @include screenMd {
    width: convertWithToVw(20);
    height: convertWithToVw(38);
  }

  &.slick-prev {
    left: 32px;
    background-image: url("/images/arrow-left.svg");
    background-size: cover;

    @include screenMd {
      left: convertWithToVw(16);
    }
  }

  &.slick-next {
    right: 32px;
    background-image: url("/images/arrow-right.svg");
    background-size: cover;

    @include screenMd {
      right: convertWithToVw(16);
    }
  }
}

.slick-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  right: 50%;
  display: flex !important;
  justify-content: center;

  @include screenMd {
    margin-top: 12px;
    bottom: convertWithToVw(10);
  }

  li {
    background-color: unset;
    cursor: pointer;
    margin: 0 5px;
    line-height: 1;

    button {
      font-size: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      color: $white;
      background-color: $white;
      opacity: 0.5;

      @include screenMd {
        width: convertWithToVw(10);
        height: convertWithToVw(10);
      }
    }

    &.slick-active {
      button {
        background-color: $white;
        opacity: 1;
      }
    }
  }
}
