@import "~/styles/settings.scss";
@import "~/styles/utils.scss";

.content {
  width: $content-max-width;
  margin: 0 auto 200px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 70px;
}
