@import "~/styles/settings.scss";
@import "~/styles/utils.scss";

.container {
  background-color: $red;
}

.inner {
  min-width: $content-max-width;
  padding: 10px 70px;
  display: flex;

  @include screenMd {
    min-width: unset;
    padding: convertWithToVw(10) convertWithToVw(20);
  }
}

.image {
  @include screenMd {
    width: convertWithToVw(147);
    height: auto;
  }
}

.btns {
  margin-left: auto;
  display: flex;
  align-items: center;

  .btn {
    line-height: 33px;
    font-size: 18px;
    border-radius: 4px;
    border: 2px solid $white;
    font-weight: bold;
    width: 120px;
    text-align: center;

    &.signIn,
    &.signOut {
      margin-left: 10px;
      color: $white;
    }

    &.create {
      background-color: #ffffff;
      color: $red;
    }
  }
}
