@import "~/styles/settings.scss";
@import "~/styles/utils.scss";

.container {
  margin-top: 80px;
  width: 350px;

  @include screenMd {
    margin-top: convertWithToVw(50);
    width: 100%;
  }
}

.link {
  display: block;
}

.image {
  width: 100%;
}
