@import "~/styles/settings.scss";
@import "~/styles/utils.scss";
@import "~/styles/mixin.scss";

.container {
  width: $sub-box-width;
  margin-top: 80px;

  @include screenMd {
    margin-top: convertWithToVw(50);
  }
}

.title {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.25px;
  color: $black;

  @include screenMd {
    font-size: convertWithToVw(20);
  }
}

.items {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;

  @include screenMd {
    margin-top: convertWithToVw(10);
  }
}

a.item {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 0.75px;
  text-align: center;
  color: $grey;
  padding: 4px 10px;
  border-radius: 12px;
  background-color: $white;

  @include screenMd {
    margin-top: convertWithToVw(10);
    margin-right: convertWithToVw(10);
    font-size: convertWithToVw(14);
    padding: convertWithToVw(4) convertWithToVw(10);
    background-color: $bg-color;
  }
}
