@import "~/styles/settings.scss";
@import "~/styles/utils.scss";
@import "~/styles/mixin.scss";

.container {
  margin-top: 50px;
  width: $content-max-width;
}

.title {
  text-align: center;

  .text {
    position: inline-block;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #f70d0d;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: calc(100% + 40px);
      width: calc($content-max-width / 2 - 50% - 40px);
      height: 5px;
      background-color: #e4e4e4;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% + 40px);
      width: calc($content-max-width / 2 - 50% - 40px);
      height: 5px;
      background-color: #e4e4e4;
    }
  }
}

.content {
  margin-top: 30px;
  background-color: $white;
  box-shadow: 5px 10px 10px 0 $shadow;
  padding: 30px;
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  &:nth-child(n + 2) {
    margin-left: 40px;
  }

  .block {
    position: relative;
  }

  .image {
    width: 280px;
    height: 210px;
    object-fit: cover;
  }

  .title {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    padding: 0 17px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    color: $white;
  }

  .description {
    font-size: 14px;
    margin-top: 10px;
    color: $grey;
    margin-bottom: 15px;
  }

  .infos {
    margin-top: auto;
    display: flex;
    font-size: 12px;
    color: $grey;
    justify-content: flex-end;

    .time {
      display: flex;
      align-items: center;

      img {
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
    }
  }
}
