@import "~/styles/settings.scss";
@import "~/styles/utils.scss";
@import "~/styles/mixin.scss";

.container {
  width: $main-box-width;
}

.title {
  @include title_style;
}

.content {
  margin-top: 25px;
  padding: 30px;
  box-shadow: 5px 10px 10px 0 $shadow;
  background-color: $white;

  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .item {
    width: 50%;
    display: flex;
    flex-direction: column;

    &:nth-child(n + 3) {
      margin-top: 15px;
      padding-top: 15px;
      border-top: 2px solid #e4e4e4;
    }

    &:nth-child(odd) {
      padding-right: 15px;
    }

    &:nth-child(even) {
      padding-left: 15px;
    }

    .image {
      object-fit: cover;
    }

    &_title {
      margin-top: 15px;
      margin-bottom: 5px;
      font-size: 18px;
      color: $black;
      list-style: 1.3;
      font-weight: bold;
    }

    .infos {
      margin-top: auto;
      display: flex;
      font-size: 12px;
      color: $grey;
      justify-content: flex-end;

      .time {
        display: flex;
        align-items: center;

        img {
          width: 16px;
          height: 16px;
          margin-right: 10px;
        }
      }
    }
  }
}
