@import "~/styles/settings.scss";
@import "~/styles/utils.scss";
@import "~/styles/mixin.scss";

.container {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  min-height: calc(100vh - 100px);
}

.content {
  width: $main-box-width;

  .title {
    font-size: 40px;
    font-weight: bold;
    color: $red;
    text-align: center;
  }

  .text {
    margin-top: 30px;
    color: $black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .btn {
    display: block;
    margin-top: 50px;
    text-align: center;

    .text {
      display: inline-block;
      text-align: center;
      color: $white;
      background-color: $red;
      line-height: 48px;
      width: 360px;
      font-weight: bold;
      font-size: 16px;
      border-radius: 4px;
    }
  }
}
