@import "~/styles/settings.scss";
@import "~/styles/utils.scss";

.container {
  padding: 0 30px;
}

.inner {
  display: flex;
  overflow: auto;
}

.item {
  display: flex;
  font-weight: lighter;
  white-space: nowrap;

  .link {
    font-size: 18px;
    color: $grey;
  }

  .arrow {
    margin: 0 10px;
    font-size: 16px;
    color: $grey;
  }
}
