@import "~/styles/settings.scss";
@import "~/styles/utils.scss";

.content {
  width: $content-max-width;
  margin: 30px auto 200px;

  @include screenMd {
    width: 100%;
    margin: convertWithToVw(15) auto convertWithToVw(100);
    padding: 0 convertWithToVw(16);
  }
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 70px;

  @include screenMd {
    margin-top: convertWithToVw(50);
    display: block;

    > div:nth-child(2) {
      margin-top: convertWithToVw(50);
    }
  }
}
